<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">

                <div class="alert alert-primary" role="alert" *ngIf="registered">
                    You registered Successfully!
                </div>
                <div class="alert alert-primary text-danger" role="alert" *ngIf="failed">
                    You registered Failed!
                </div>

                <div class="card-header text-center">
                    <h3> Angular Reactive Register Form</h3>
                </div>
                <div class="card-body">
                    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label> First Name: </label>
                            <input type="text" class="form-control" formControlName="firstName" />
                            <span class="text-danger" *ngIf="(registerFormControl['firstName'].touched || submitted) && (registerFormControl['firstName'].errors?.['required'])" > 
                                First Name is Required! 
                            </span>
                        </div>
                        <div class="form-group">
                            <label> Last Name: </label>
                            <input type="text" class="form-control" formControlName="lastName" />
                            <span class="text-danger" *ngIf="(registerFormControl['lastName'].touched || submitted) && (registerFormControl['lastName'].errors?.['required'])" > 
                                Last Name is Required! 
                            </span>
                        </div>
                        <div class="form-group">
                            <label> Email: </label>
                            <input type="text" class="form-control" formControlName="email" />
                            <span class="text-danger" *ngIf="(registerFormControl['email'].touched || submitted) && (registerFormControl['email'].errors?.['required'])" > 
                                Email is Required!
                            </span>
                            <span class="text-danger" *ngIf="registerFormControl['email'].touched && registerFormControl['email'].errors?.['email']" > 
                                Please Enter a Valid Email Address!
                            </span>
                        </div>
                        <div class="form-group">
                            <label> Password: </label>
                            <input type="password" class="form-control" formControlName="password" />
                            <span class="text-danger" *ngIf="(registerFormControl['password'].touched || submitted) && (registerFormControl['password'].errors?.['required'])" > 
                                Password is Required 
                            </span>
                            <span class="text-danger" *ngIf="registerFormControl['password'].touched && registerFormControl['password'].errors?.['invalidPassword']" > 
                                Please Enter a Password that has minimum 8 characters, at least 1 uppercase letter, 1 lowercase letter and 1 number!
                            </span>
                        </div>
                        <div class="form-group">
                            <label> Confirm Password: </label>
                            <input type="password" class="form-control" formControlName="confirmPassword" />
                            <span class="text-danger" *ngIf="(registerFormControl['confirmPassword'].touched || submitted) && (registerFormControl['confirmPassword'].errors?.['required'])" > 
                                Please Confirm your Password!
                            </span>
                            <span class="text-danger" *ngIf="registerFormControl['confirmPassword'].touched && registerFormControl['confirmPassword'].errors?.['passwordMismatch']" > 
                                Password do not match!
                            </span>
                        </div>
                        <div class="form-group">
                            <label> Date of Birth: </label>
                            <input type="Date" class="form-control" formControlName="dateOfBirth" />
                            <span class="text-danger" *ngIf="(registerFormControl['dateOfBirth'].touched || submitted) && (registerFormControl['dateOfBirth'].errors?.['required'])" > 
                                Date of Birth is Required!
                            </span>
                        </div>
                        <br />
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
