<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="alert alert-primary" role="alert" *ngIf="logined">
                    Log In Successfully!
                </div>
            
                <div class="card-header text-center">
                    <h3> Angular Template-driven Login Form</h3>
                </div>
            
                <div class="card-body">
                    <form #loginForm = "ngForm" (submit)="onSubmit(loginForm)">
            
                        <div class="form-group">
                            <label for="email"> Email: </label>
                            <input type="text" class="form-control" [(ngModel)]="login.email" name = "email" style="margin-bottom: 10px;" placeholder="Please Enter Your Email" required />
                        </div>
            
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" [(ngModel)]="login.password" name = "password" style="margin-bottom: 10px;" placeholder="Please Enter Your Password" required />
                        </div>
            
                        <div class="form-group">
                            <input type="submit" value="Login" style="margin-bottom: 12px;" [disabled]="!loginForm.valid" />
                            <input type="button" value="Clear Form" style="margin-bottom: 12px; margin-left: 12px;" (click)="resetForm(loginForm)" />
                        </div>
            
                    </form>
                </div>
            </div>
        </div>        
    </div>
</div>
