<div class="container-fluid">
    <div class="alert alert-primary" role="alert" *ngIf="deleteFlag">
        Genre Deleted Successfully!
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let g of genres; index as i">
                <td scope="row">{{i+1}}</td>
                <td scope="row">{{g.id}}</td> 
                <td scope="row">{{g.name}}</td>
                <td> 
                    <input type="button" class="btn btn-link" value="Add" [routerLink]="'/addGenre'" /> &emsp; &emsp; 
                    <input type="button" class="btn btn-link" value="Delete" (click)=deleteGenre(g.id) />
                </td>
            </tr>           
        </tbody>
    </table>
</div>
